<html>
    <head>
        <title>Opening page</title>
        <meta http-equiv="refresh" content="1">
        <style>

            table {
                border-collapse: collapse;
                width: 100%;
            }
            th, td {
                padding: 8px; 
                text-align: left;
                border-bottom: 1px solid #ddd;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <h1>Temperature Data</h1>
            <table>
                <tr>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Temperature °C</th>
                    <th>Average Temperature in °C</th>
                </tr>
                {% for sam in temperature_data %}
                <tr>
                    <td>{{  sam [0] }}</td>
                    <td>{{  sam [1] }}</td>
                    <td>{{  sam [2] }}</td>
                    {% if loop.index == 1 %}
                        <td>{{  average  }}</td>
                    {% endif %}                 
                </tr>
                {% endfor %}
            </table>
    </body>
</html> 


       
<!-- 
<!DOCTYPE html>
<html>
<head>
    <title>Temperature Data</title>
</head>
<body>
    <h1>Temperature Data</h1>
    <ul>
        {% for item in temperature_data %}
            <li>Temperature: {{ item[2] }}, Timestamp: {{ item[0] }} {{ item[1] }}/li>
        {% endfor %}
    </ul>
</body>
</html>        -->